<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Recipe Book</h1>
    <nav>
        <a href="/recipes/new">Add a new RECIPE!</a>
    </nav>
    <link href="/css/index.css" rel="stylesheet" type="text/css">

    <% for (let i = 0; i < recipes.length; i++) { %>
        <a href="/recipes/<%=i%>"><p><%= recipes[i].name%></p></a>
        
        <form action="/recipes/<%=i%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form> <br>
  
        <a href="/recipes/<%=i%>/edit"> <input type="submit" value="Edit your RECIPE!" /></a>

    <% } %>
     
</body>
</html>