.bg-img {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/22/20/42/table-2879213_960_720.jpg");
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.9;
      
}
.container {
    text-align: center;
    font-size: 50px;
    color: rgb(5, 5, 5);
    position: relative;
}
      
h1 {
    position: relative;
    font-size: 60px;
    text-align: center;
    height: 100%;
    margin-top: 11%;
    color: rgb(5, 5, 5);
}
      