h1 {
    font-size: 50px;
    color:rgb(7, 5, 6);
    left: 50%;
    padding-bottom: 30px;
    text-align: center;
  }
h2 {
    text-align: center;
}


img {

    
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

body {
     background-color: rgb(255, 249, 194);
}

.container {
    -webkit-column-count: 5;
    column-count: 5;
    
      }


