.bg-img {
    background-image: url("https://images.unsplash.com/photo-1617460183227-c015a1eef31a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80");
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.9;
      
}
.container {
    text-align: center;
    font-size: 50px;
    color: rgb(5, 5, 5);
    position: relative;
}
      
h1 {
    margin-top: 0%;
    position: relative;
    font-size: 60px;
    text-align: center;
    height: 100%;
    color: rgb(5, 5, 5);
    padding-top: 130px;
}
      