.bg-img {
    background-image: url("https://cdn.pixabay.com/photo/2014/04/09/15/11/vegetables-320131_960_720.jpg");
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.9;
  }

  .container {
    font-size: 40px;
    color: rgb(5, 5, 5);
    position: absolute;
  }
  
  h1 {
    position: relative;
    font-size: 60px;
    text-align: center;
    height: 100%;
    margin-top: 0%;
    color: rgb(5, 5, 5);
  }
  
  h2 {
    position: relative;
    font-size: 30px;
    text-align: center;
    color: rgb(5, 5, 5);
  }