.bg-img {
    background-image: url("https://cdn.pixabay.com/photo/2014/08/12/23/36/mushrooms-417101_960_720.jpg");
    background-size: cover;
  position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.9;
  
  }
  .container {
    text-align: center;
    font-size: 50px;
    color: rgb(5, 5, 5);
    position: relative;
  }
  
  h1 {
    height: 100%;
    margin-top: 0%;
    padding-top: 100px;
  }
  