<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="css/uindex.css" />
    <title>Document</title>
</head>
<body>
    <h1>Welcome to your Recipe Book!</h1>

    <nav>
        <a href="/users/signup"><input type="submit" value="Create an Account" /></a><br><br>
        <a href="/users/login"><input type="submit" value="Log In" /></a>
    </nav>
</body>