<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/uindex.css" />
    <title>Document</title>
</head>
<body>
<div class="bg-img">
  <div class="container">
    <h1>Welcome To Your Recipe Book!</h1>
    <div class="topnav">
        <a href="/users/signup">Create an account</a><br><br>
        <a href="/users/login">Log in</a>
    </div>
  </div>
</div>
</body>
</html>